body{
    /* background-color: rgb(40, 38, 38); */
    background-color: black;
}
.default-content-wrapper {
    text-align: center;
}
.default-content-wrapper h1 {
    font-family: cursive;
    color: #F8F8FF;
    margin: auto;
    margin-bottom: -30px;

}

strong{
    color: chocolate;
}

.about-inner-content {
  display: flex;
  margin-top: 18px;
  align-items: center;
  justify-content: space-between;
}
.about-inner-content > div:first-child {
    flex: 0 1 50%; 
  }
  .about-inner-content > div:last-child {
    flex: 1;
    padding-left: 20px; 
  }
  

.about-inner-content > div {
  flex: 1;
  max-width: 50%;
}

.about-inner-content picture,
.about-inner-content img {
  width: 100%;
  height: auto;
}

.about-inner-content h2 {
  margin-top: 0;
  color: bisque;
  font-family: cursive;
}

.about-inner-content p {
  margin-bottom: 16px;
  color: bisque;
  font-family: cursive;
}


@media (max-width: 600px) {
    .about-inner-content {
        display: block;
        position: relative;
        text-align: center;
    }

    .about-inner-content picture,
    .about-inner-content img {
        display: none;
    }

    .about-inner-content:before {
        content: '';
        background-image: url('./media_129083aa5c88b2b38766ec7db817ad035dc55de04.jpeg?width=750&format=jpeg&optimize=medium');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.6;
    }

    .about-inner-content h2,
    .about-inner-content p {
        position: relative;
        z-index: 1;
        padding: 20px;
        color: bisque;

    }
}

.about-inner-content a {
    margin-left: 2px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: bisque;
    font-family: cursive;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.6s ease; 
}